<style>
  /* invoice.component.css */
  

  .invoice-header {
    display: flex;
    justify-content: space-between;
  }

  .logo-placeholder {
    width: 150px;
    height: 100px;

  }

  .totals {
    text-align: right;
    margin-top: 20px;
  }

  .empresa-logo {
    width: 170px;
    margin-bottom: 15px;
    border-radius: 1rem;
  }

  .hide-buttons {
  display: none;
}
</style>

<div class="col-12 md:col-12">
  <div class="card p-fluid">
    <!-- invoice.component.html -->
    <div class="invoice-container">
      <div class="invoice-header">
        <div class="logo-placeholder">
          <img src="assets/logo.webp" alt="Logo de la Empresa" class="empresa-logo">
        </div>
        <div class="invoice-title">
          <h1>INVOICE</h1>
          <p>NO. INVOICE: {{randomNumber}}</p>
          <p>INVOICE DATE: <p-calendar inputId="calendar" [(ngModel)]="value5"></p-calendar></p>
        </div>
      </div>
      <form [formGroup]="invoiceForm">
        <div class="invoice-details col-12 md:col-12">
          <div class="grid">
            <div class="from-section col-12 md:col-6">
              <h3>FROM</h3>
              <input pInputText value="{{lblTrabajador}}" class="mb-3" />
              <input pInputText value="{{lblDireccion}}" class="mb-3" />
              <input pInputText value="{{lblTelefono}}" class="mb-3" />
              <input pInputText value="{{lblCorreo}}" class="mb-3" />
            </div>

            <div class="bill-to-section col-12 md:col-6">
              <h3>BILL TO</h3>
              <input pInputText formControlName="nombreCliente" class="mb-3" placeholder="NAMES" />
              <input pInputText formControlName="direccionCliente" class="mb-3" placeholder="ADDRESS" />
              <input pInputText formControlName="telefonoCliente" class="mb-3" placeholder="PHONE" />
              <input pInputText formControlName="correoCliente" class="mb-3" placeholder="E-MAIL" />
            </div>
          </div>

        </div>

       
        <p-table [value]="items.controls" [tableStyle]="{'min-width': '50rem'}" responsiveLayout="scroll" formArrayName="items">
          <ng-template pTemplate="caption">
            <button *ngIf="!isGeneratingPDF" (click)="addItem()" pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-primary p-button-outlined mr-2"></button>
            <button *ngIf="!isGeneratingPDF" (click)="generatePDF()" pButton pRipple type="button" icon="pi pi-file-pdf" class="p-button-rounded p-button-success p-button-outlined"></button> 
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>PRODUCT/SERVICE</th>
              <th>QTY</th>
              <th>PRICE ($)</th>
              <th>AMOUNT ($)</th>
              <th *ngIf="!isGeneratingPDF">ACTIONS</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr [formGroupName]="rowIndex">
              <td>
                <textarea formControlName="product" rows="5" cols="30" placeholder="Enter product/service" pInputTextarea></textarea>
              </td>
              <td>
                <p-inputNumber
                  formControlName="quantity"
                  mode="decimal"
                  (ngModelChange)="calculateAmount(rowIndex)"
                  minFractionDigits="2"
                  maxFractionDigits="2"
                ></p-inputNumber>
              </td>
              <td>
                <p-inputNumber
                  formControlName="price"
                  mode="decimal"
                  (ngModelChange)="calculateAmount(rowIndex)"
                  minFractionDigits="2"
                  maxFractionDigits="2"
                ></p-inputNumber>
              </td>
              <td>
                {{ getAmount(rowIndex) | currency: 'USD' }}
              </td>
              <td *ngIf="!isGeneratingPDF">
                <button
                  
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  (click)="removeItem(rowIndex)"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
          


    
        

        <div class="totals">
          <p>SUBTOTAL: {{ getSubtotal() | currency: 'USD' }}</p>
          <p>TAX 8%: {{ getTax() | currency: 'USD' }}</p>
          <p>TOTAL: {{ getTotal() | currency: 'USD' }}</p>
        </div>
      </form>


    </div>
    


  </div>
</div>